<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :site_id %>
    <%= form.number_field :site_id %>
  </div>

  <div class="field">
    <%= form.label :featuredmedia %>
    <%= form.text_field :featuredmedia %>
  </div>

  <div class="field">
    <%= form.label :author_name %>
    <%= form.text_field :author_name %>
  </div>

  <div class="field">
    <%= form.label :author_avatar %>
    <%= form.text_field :author_avatar %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :author_avatars %>
    <%= form.text_field :author_avatars %>
  </div>

  <div class="field">
    <%= form.label :source_link %>
    <%= form.text_field :source_link %>
  </div>

  <div class="field">
    <%= form.label :post_type %>
    <%= form.text_field :post_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
