<div class="container">


<div class="row">
  <div class="col">
    <h1>Sites</h1>
  </div>
  <div class="col align-right">
    <button class="btn btn-primary">Add New Site</button>
  </div>
</div>
<hr>


<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Site</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>

    <% @sites.each do |site| %>
      <tr>
        <th scope="row"><%= site.id %></th>
        <td><%= site.name %></td>
        <td><%= site.baseUrl %></td>
        <td>
          <%= link_to 'Show', site %>
          <%= link_to 'Edit', edit_site_path(site) %>
          <%= link_to 'Delete', site, method: :delete %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>



  
  
  
  <%#= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'New Site', new_site_path %>

</div>