<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "Manga Bunny" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= content_for?(:advertisment) ? content_for(:advertisment) : "" %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129792360-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-129792360-1');
    </script>

    
  </head>

  <body ng-app="mangaApp">

    <%= render 'navs/normal' %>
    <%= yield %>
    <%= render 'navs/footer' %>

  </body>
</html>
